!!!
html(lang="en")
  head
    != partial("_shared/head")
  body(style="background:#FEFEFE;")
    != partial("_shared/header")
    div.container(role="main" style="")
      != yield
    != partial("_shared/footer")