!!!
html(lang="en")
  head
    != partial("_shared/head")
  body
    != partial("_shared/header")
    main.container(role="main")
      != yield
    != partial("_shared/footer")
    script(src="#{root_url[environment]}js/main.min.js")
    if environment == "production"
      != partial("_shared/google_analytics")
      != partial("_shared/disqus")