h3 About
p This site is a open-source initiative whose the goal is sharing only free dev screencasts for everybody. If you love Node.js, Go, JavaScript, Ruby or any other programming language or framework, and you have some screencasts sharing your basic or advanced knowledge, please <a href="https://github.com/caio-ribeiro-pereira/devfreecasts#how-to-add-screencasts" target="_blank" title="How add a screencast here?">send it to us</a>! Will be a honor to fill up this site with a huge collection of free dev videos.

h3 Partners
p A special thank to people who authorized to release your free screencasts here:
ul
  each partner in partners
    li #{partner.name} (<a href="#{partner.url}" target="_blank">#{partner.url}</a>)
h3 Author
p Hi! My name is Caio Ribeiro Pereira, I am a brazilian web developer (Ruby and Node.js is my best!) and author of these books: 
ul
  li <a href="https://casadocodigo.refersion.com/l/630.1389" target="_blank">Aplicações web real-time com Node.js</a>
  li <a href="https://casadocodigo.refersion.com/l/d88.3525" target="_blank">Meteor: Criando aplicações web real-time com JavaScript</a>

p If wanna talk with me, you can <a href="mailto:caio.ribeiro.pereira@gmail.com?subject=DevFreeCasts">send me an e-mail</a> or follow me in some of this links: <a href="http://twitter.com/crp_underground" target="_blank" rel="nofollow">Twitter</a>, <a href="http://www.linkedin.com/pub/caio-ribeiro-pereira/25/7ba/465" target="_blank" rel="nofollow">LinkedIn</a>, <a href="https://plus.google.com/+CaioRibeiroPereira" target="_blank" rel="nofollow">Google+</a>, <a href="https://github.com/caio-ribeiro-pereira" target="_blank" rel="nofollow">Github</a>.