footer.footer
  div.container
    div.col-sm-12
      p.footer-about Do you wanna add your own screencasts here? Just <a href="https://github.com/caio-ribeiro-pereira/devscreencasts/blob/master/README.md#how-to-add-screencasts" target="_blank">read this simple rules</a>.
      p.footer-about <a href="/">DevFreeCasts</a> is powered by <a href="http://harpjs.com" target="_blank">HarpJS</a> with <a href="https://pages.github.com" target="_blank">Github Pages</a> and licensed by <a href="http://caio-ribeiro-pereira.mit-license.org" target="_blank">MIT</a>.