footer.footer
  div.container
    div.col-sm-12
      p.footer-about Wanna fork and add your screencasts here? <a href="https://github.com/caio-ribeiro-pereira/devfreecasts/blob/master/README.md#how-to-add-screencasts" target="_blank">Just click here and follow these rules.</a>
      p.footer-about <a href="#{root_url[environment]}">DevFreeCasts</a> is powered by <a href="http://harpjs.com" target="_blank" rel="nofollow">HarpJS</a>, <a href="https://pages.github.com" target="_blank" rel="nofollow">Github Pages</a>, <a href="http://bootflat.github.io" target="_blank" rel="nofollow">Bootflat</a>, <a http://getbootstrap.com" target="_blank" rel="nofollow">Bootstrap</a> and is licensed by <a href="http://caio-ribeiro-pereira.mit-license.org" target="_blank" rel="nofollow">MIT</a>.