header.header
  nav.navbar.navbar-inverse(role="navigation")
    div.container
      div.navbar-header
        a.navbar-brand(href="#{root_url[environment]}") 
          img(src="#{root_url[environment]}images/devfreecasts.png" width="223" height="35" alt="DevFreeCasts" title="DevFreeCasts")
      ul.collapse.nav.navbar-nav.navbar-right.navbar-collapse#navbar
        li
          a.navbar-link(href="#{root_url[environment]}about") <i class="icon-user"></i>&nbsp;About
        li
          a.navbar-link(href="https://docs.google.com/forms/d/1T1n-5WP1oV_tvvrIlbLfvpUXfLz-HQ4T57lR08Dt0wU/viewform" target="_blank") <i class="icon-plus"></i>&nbsp;Add videos