meta(charset="utf-8")
title #{title}
meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
link(rel="stylesheet" href="/css/main.min.css")
link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css")